<div class="row notification-row">
  <div id="notification-first-col">
    <h5>Notifications</h5>
    {{#if this.lastScanEndedAt}}
    <p>
      Last Scan: {{this.lastScanEndedAt}}
    </p>
    {{/if}}
  </div>
  <div id="notificationCol">
    <h6>Daily Notification List</h6>
    {{#basic-dropdown as |dd|}}
      {{#dd.trigger class='modal-field active-notification-filter browser-default notify-input-filter dropdown-trigger'}}
        <span id="active-notifications-span">{{this.notificationFilterLabel}}</span>
      {{/dd.trigger}}

      {{#dd.content class='dropdown-content'}}
        <li>
          <a id="AllNotifications" {{on 'click' (action 'setFilter' 'all' dd)}} class='{{if (eq this.notificationFilter 'all') 'dropdown-selected'}} dropdown-list-elements'>All Notifications</a>
        </li>
        <li>
          <a id="ActiveNotifications" {{on 'click' (action 'setFilter' 'active' dd)}} class='{{if (eq this.notificationFilter 'active') 'dropdown-selected'}} dropdown-list-elements'>Active Notifications</a>
        </li>
        <li>
          <a id="SnoozeNotifications" {{on 'click' (action 'setFilter' 'snooze' dd)}} class='{{if (eq this.notificationFilter 'snooze') 'dropdown-selected'}} dropdown-list-elements'>Snoozed Notifications</a>
        </li>
      {{/dd.content}}
    {{/basic-dropdown}}
    <Insights::NotificationsList
      @notifications={{this.notifications}}
    />
  </div>
</div>
